body{
    text-align: center !important;
    align-items: center !important;
}
h1{
    font-size :100px;
    text-shadow:   3px 4px yellow, 3px 3px yellow;
    text-align:center;
    color: green;
}
button{
    font-size: 20px;
   
    background-color: red;
    color:white
}
p{
    font-size: 30px;
    text-align: center;
}
select{
    width: 60px !important;
    display: inline !important;
    align-items: center !important;
    margin: auto 0;
    padding: 10px 10px 10px 10px !important;
    
    
}
